.image-slideshow {
    position: relative;/* so then the < and > are relative to this container */
    /* margin-top: 8px; */
}

.myImages {
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

.myImages > img, .myImages > video {
    outline: none;
    height: 340px;
    width: 450px;
}

/* @media (max-width: 700px) {
    .myImages > img {
        height: 340px;
        width: 450px;
    }
} */

.contain {
    object-fit: contain;
}

.top {
    object-position: top;
}

/* next and prev buttons */
.prev, .next {
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    /* width: auto; */
    padding: 15px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
    transition: 0.5s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.445);
}

.active, .buttons:hover {
    background-color: #dbdbdb;
}