.modal {
    display: none; /* Hidden by default */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    color: rgb(80, 80, 80);
    background-color: #fefefe;
    /* border: 1px solid #888; */
    max-width: 400px;
    position: relative; /* so then the x sign is relative to this container */
    overflow-y: auto; /* Enable scroll if needed */
    overflow-x: hidden;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 415px) {
    .modal-content {
        max-width: 70%;
    }    

    .view-project-button, .no-project-button, .project-text > p {
        font-size: 13px !important;
    }

    .project-text > .job-title {
        font-size: 16px !important;
    }

    .project-text > .coding-languages > .language {
        font-size: 10px !important;
    }
}


/*********************************/
.project-text {
    padding: 12px 15px 8px 15px;
}

.project-text > .job-title {
    font-size: 18px;
}

.project-text > p {
    margin-bottom: 12px;
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #c2c2c2;
    margin: 10px 0;
}

/*********************************/
.project-bottom {
    width: 100%;
    /* display: inline-block; */
    text-align: center;
    margin-bottom: 10px;
}

.view-project-button {
    background-color: rgb(53, 23, 64);
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none; /* no need underline */
    display: inline-block;
    font-size: 14px;
}

.no-project-button {
    background-color: transparent;
    color: rgb(80, 80, 80);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none; /* no need underline */
    display: inline-block;
    font-size: 14px;
    max-width: 60%;
}

#launch.material-icons {
    font-size: 14px !important;
    vertical-align: text-bottom;
    padding-bottom: 2px;
}

.close {
    color: #aaaaaa;
    background-color: transparent;
    border: transparent;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    /* float: right; */
    right: 0;
    padding: 0px 15px;
    outline: none; /* no border when clicked */
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




