html {
    height: 100%;
    scroll-behavior: smooth; /* doesn't work on Safari and old Edge */
}

body {
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* width: 100%; */
}

/*********************************/
.coverpage-image{
    min-height:100vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coverpage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*********** GLOBAL **************/
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 10px;
    margin: 20px;
    text-align: center;
}

h3 {
    font-family: 'Courier Prime', sans-serif;
    /* font-style: italic; */
    line-height: 1.5em;
    font-size: 16px;
    text-align: left;
}

p {
    margin-bottom: 20px;
}

.container {
    color: white;
    font-size: 16px;
    padding: 20px;
}

.titles {
    word-wrap: break-word;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 20px 0 10px 0;
}

.black {
    color: rgb(80, 80, 80);
}

.about-items, .ed-items {
    margin: 15px;
}

ul {
    margin: 0 15px 0 15px;
}

li {
    margin-bottom: 7px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*********************************/
.about {
    background-color: rgb(234, 84, 85);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.about-image img{
    width: 200px;
    border-radius: 50%;
    opacity: 0.7;
    /* float: right; */
}

.about-image {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    margin-left: 60px;
    width: 500px;
    line-height: 1.7em;
}

/*********************************/
.education {
    background-color: rgb(18, 65, 105);
}

.education-content {
    margin: 0 30px 0 30px;
}

.uoft-image img {
    width: 120px;
}

.uoft-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ed-title {
    text-align: center;
}

.ed-coursework {
    text-align: center;
    /* font-size: 16px; */
    margin-bottom: 8px;
}

.collapsable {
    padding: 5px 10px 7px 7px;
    color: inherit;
    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    border: none; /* clear default border */
    outline:none; /* no border when clicked */
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.356);
    cursor: pointer;
    transition: 0.5s ease;
}

.collapsable > .material-icons {
    font-size: 16px;
    transform: translate(-1px, 3px);
}

.collapsable > .material-icons:hover {
    transform: translate(-1px, 3px); /* or else it will transition back to (0,0) */
}

.collapsable:hover, .ed-coursework > .active {
    background-color: rgba(0, 0, 0, 0.712);
}

.ed-courses {
    display: none;
    align-items: center;
    justify-content: center;
    /* margin-top: 8px; */
    font-size: 14px;
}

/*********************************/
.experience {
    background-color: rgb(255, 250, 232);
}

.logo img{
    max-width: 100px;
    max-height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 83px; /* ABRSM cert block has height 83px, all others are only 70px */
    margin-right: 25px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 40px 0;
}

.box {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 2px rgba(10,10,10,.02);
    padding: 15px 25px 0 25px;
    border: 0.1px solid rgba(223, 221, 221, 0.219);
}

.subject, .info {
    width: 580px;
    display: flex;
    padding-bottom: 15px;
}

.info {
    flex-direction: column;
    margin-top: 0;
}

.job-title {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

/*********EXPERIENCE**************/
.canada-gov {
    color: rgb(37, 147, 133);
}

.lalamove {
    color: rgb(250, 123, 32);
}

.utra {
    color: rgb(0, 98, 184);
}

.footprint {
    color: rgb( 14, 160, 179);
}

.chestnotes {
    color: rgb(2, 156, 35);
}

.frosh1t9 {
    color: rgb(160, 68, 191);
}

.ubc-geeringup {
    color: rgb(48, 120, 190);
}

/*********************************/
.projects {
    background-color: rgb(53, 23, 64);
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery > img {
    margin: 10px;
    width: 14em;
    height: 10em;
    cursor: pointer;
    background-color: white;
    transition: 0.4s ease-in;
}

.gallery > img:hover {
    transform: scale(1.1);
}

/*********************************/
.community {
    background-color: rgb(199, 252, 246);
}


/*********************************/
.certifications {
    background-color: rgb(156, 56, 57);
}

.space {
    margin-bottom: 15px;
}

.white {
    color: white;
}

/*********************************/
.skills {
    background-color: rgb(26, 35, 35);
}

.skills-content {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

td {
    text-align: left;
    vertical-align: middle;
    padding: 0 10px;
}

/*********************************/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
}

#name {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(234, 84, 85);
    margin-bottom: 5px;
}

.socials {
    margin: 5px 7px;
}

.fa {
    padding: 9px;
    height: 40px;
    width: 41px;
    font-size: 20px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    
    background: black;
    border: none;
    color: white;
}

.fa-linkedin:hover {
    border: none;
    background: rgb(40, 103, 178);
    transition: 0.5s ease;
}

.fa-github:hover {
    border: none;
    background: rgb(109, 108, 108);
    transition: 0.5s ease;
}

.fa-envelope:hover {
    border: none;
    background: purple;
    transition: 0.5s ease;
}

i#arrow_up {
    cursor: pointer;
    color: rgb(80, 80, 80);
}


/*********************************/
@media (max-width: 770px) {
    .about-text {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
    }

    .about-image img {
        width: 140px;
    }

    .about-items, .ed-items {
        margin: 10px;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery > img:hover {
        transform: none;
    }

    td > .coding-languages {
        justify-content: center !important;
        padding-bottom: 10px;
    }

    td {
        display: block;
        text-align: center;
    }
}

@media (max-width: 670px) {
    .box {
        width: 100%;
    }
    .subject, .info {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .subject, .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subject {
        text-align: center;
    }

    .logo {
        margin: 10px;
    }

    .info > .coding-languages {
        justify-content: center !important;
    }
}
